<div class="form-wrap">
    <h1 class="centered">Opprett konto</h1>

    <div class="row">
      <div class="columns large-10 medium-10 large-centered medium-centered">
        <%= render 'form' %>
      </div>
    </div>

    <div class="row">
      <div class="columns large-10 medium-10 large-centered medium-centered">
        <%= link_to 'Tilbake til forsiden', root_path %>
      </div>
    </div>
</div>