<<<<<<< HEAD
<div class="form-wrap">
    <h1 class="centered">Opprett konto</h1>
=======
<h1>Bli med i dag!</h1>
>>>>>>> 4a159197bf45a6b5c1e2ec256e54ebf2bad93ccf

    <div class="row">
      <div class="columns large-10 medium-10 large-centered medium-centered">
        <%= render 'form' %>
      </div>
    </div>

    <div class="row">
      <div class="columns large-10 medium-10 large-centered medium-centered">
        <%= link_to 'Tilbake til forsiden', root_path %>
      </div>
    </div>
</div>
