
<div id="avatarWrap" class="columns large-centered medium-centered small-centered">
  <%= image_tag 'profile_placeholder.png', alt: 'mitt profilbilde' %>
</div>

<p id="username" class="centered">
  <%= @user.firstName %>
</p>

<h4 class="centered">Interesser</h4>
<div id="interestList" class="centered">
  <p>Fotball</p>
  <p>Gaming</p>
  <p>Shopping</p>
</div>

<div class="large-4 medium-4 small-10 large-centered medium-centered small-centered columns centered"><%= link_to 'Start chat', test_over_path, class: 'button secondary' %></div>

