
<% if logged_in? %>

    <!-- Dette vises kun om du er logget inn -->
    <%= render 'login_home' %>

<% else %>

    <!-- Dette vises kun om du IKKE er logget inn -->

    <div id="signInPortal">

      <div id="logoWrap" class="columns centered">
        <%= image_tag 'banner.png', id: 'bannerLogo' %>
      </div>

      <div id="infoWrap" class="columns large-6 medium-6">

        <div class="row">
          <div class="large-10 large-centered columns">
            <h1 class="theme-white-text shadowed">Se opp!</h1>
            <p class="theme-white-text shadowed large-text">
              Ikke gjem blikket i mobilen. SmallTalk lar deg bli kjent med sidemann på buss, trikk og bane.

              <br><br>Bli kjent med dine medreisende idag.</p>
          </div>
        </div>

      </div>

      <div id="loginWrap" class="columns large-6 medium-6">
        <div class="row">
          <div class="large-9 columns">
            <div id="loginBox">
              <%= render 'sessions/form' %>
            </div>
            </div>
        </div>
      </div>

    </div>

<% end  %>
