
<% if logged_in? %>

    <!-- Dette vises kun om du er logget inn -->
    <%= render 'login_home' %>

<% else %>

    <!-- Dette vises kun om du IKKE er logget inn -->

    <div id="signInPortal">

    <div id="mainField">
      <div id="infoWrap">
        <div id="logoContainer">
          <%= image_tag 'logo.png', alt: 'smalltalk logo' %>
        </div>
        <h1 id="title">SmallTalk</h1>
      </div>
    </div>


    <div id="signupForm" class="centered">

      <a class="sign-link" href="<%= new_session_path %>">
        <div id="loginButton">
            <p>Logg inn</p>
        </div>
      </a>

      <a class="sign-link" href="<%= new_user_path %>">
        <div id="registerButton">
          <p>Registrer deg</p>
        </div>
      </a>

    </div>
    </div>

    <% end  %>
