
<% if logged_in? %>

    <!-- Dette vises kun om du er logget inn -->
    <%= render 'login_home' %>

<% else %>

    <!-- Dette vises kun om du IKKE er logget inn -->

    <div id="signInPortal">
      <div id="logoWrap" class="columns centered">

      </div>
      <div id="infoWrap" class="columns large-6 medium-6">
        <p class="theme-white-text large-text">Her kan vi ha infotekst</p>
      </div>
      
      <div id="loginWrap" class="columns large-6 medium-6"><p class="theme-white-text large-text">Placeholder</p>
        <div id="loginBox">
          <%= render 'sessions/form' %>
        </div>
      </div>

    </div>

<% end  %>
