// Fint sted å legge CSS for forsiden
// CSS kan ligge hvor som helst i denne mappen, så legg den der det er mest logisk.


// Denne er bare å fjerne
h1{
  color: red;
  text-align: center;
}

// Og denne
p{
  text-align: center;
}