// Fint sted å legge CSS for forsiden
// CSS kan ligge hvor som helst i denne mappen, så legg den der det er mest logisk.


#mainField{
  width: 100%;
  height: 75%;
  padding: 0;
  text-align: center;
}

#signInPortal{
  width: 100%;
  height: 100%;
  background-color: #C04747;
}

#infoWrap{
  padding-top: 2%;
}

#infoWrap>h1{
  color: white;
  margin: 0;
}


#signupForm{
  height: 25%;
}

#signupForm>.sign-link>div{
  width: 100%;
  height: 50%;
  display: table;
}

#signupForm>.sign-link>div>p{
  font-size: 200%;
  display: table-cell;
  vertical-align: middle;
}

#loginButton{
  background-color: #001E29;
}

#loginButton>p{
  color: white;
}

#loginButton>p:hover{
  color: #C04747;
}

#registerButton{
  background-color: #DDDDDD;
}

#registerButton>p{
  color: black;
}

#registerButton>p:hover{
  color: #C04747;
}