// Fint sted å legge CSS for forsiden
// CSS kan ligge hvor som helst i denne mappen, så legg den der det er mest logisk.

#mainField{
  width: 100%;
  height: 75%;
  padding: 0;
  text-align: center;
}

#signInPortal{
  width: 100%;
  height: 100%;
  background: url('http://4.bp.blogspot.com/-runJZS0P6Ko/U1WMNzIME1I/AAAAAAAAH-o/BcEoO1re5DE/s1600/Oslo+mot+Ekeberg+IMG_9422.jpg');
  background-size: cover;
}

#loginBox {
  background: rgba(50,50,50,0.68);
  padding: 1vw;
  border: solid 1px grey;
  border-radius: 3px;
}

@media(orientation: landscape){

  #logoWrap {
    height: 25vh;
    margin-bottom: 100px;
  }

  #infoWrap{
  }

  #loginWrap{
  }

  #bannerLogo{
    height: inherit;
    width: 50%;
  }
}

@media(orientation: portrait){
  #logoWrap {
    height: 20vh;
  }

  #infoWrap{
  }

  #loginWrap{
  }

  #bannerLogo{
    height: inherit;
    width: inherit;
  }

}




#signupForm{
  height: 25%;
}

#signupForm>.sign-link>div{
  width: 100%;
  height: 50%;
  display: table;
}

#signupForm>.sign-link>div>p{
  font-size: 200%;
  display: table-cell;
  vertical-align: middle;
}

#loginButton{
  background-color: #001E29;
}

#loginButton>p{
  color: white;
}

#loginButton>p:hover{
  color: #C04747;
}

#registerButton{
  background-color: #DDDDDD;
}

#registerButton>p{
  color: black;
}

#registerButton>p:hover{
  color: #C04747;
}

#loginForm{
  width: 100px;
  height: 100px;
  background-color: red;
}