// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice-wrap{
  border-top: solid red;
  border-bottom: solid red;
  margin-top: 10px;
  padding-top: 10px;
}

.notice{
  font-size: xx-large;
  color: indianred;
}