// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#avatarWrap{
  border: solid;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 3%;
  overflow: hidden;
}

#avatarWrap>img{
  height: 100%;
}

#username {
  font-size: 20px;
  margin: 2% 0 2% 0;
}
body {
	background-color: #C04747;
}
h1 {
	margin: 0cm 0cm 0cm 4cm;
}
.button {
	color: white;
	background-color: black;
	margin: 0cm 0cm 0cm 4cm;
}
.field {
	margin: 0cm 4cm 0cm 4cm;
}