<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">

    <!-- Venstresiden -->
    <ul class="left">
      <li><%= link_to current_user.username, current_user %></li>
    </ul>

    <ul class="title-area">
      <li class="name">
        <h1><a href="#">SmallTalk</a></h1>
      </li>
    </ul>

    <!-- Høyresiden -->
    <ul class="right">
      <li><%= link_to 'Logg ut', logout_path %></li>
    </ul>

  </section>
</nav>