<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to 'LOGG UT', logout_path %></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to current_user.username, current_user %></li>
    </ul>
  </section>
</nav>