<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to '<b>SMALLTALK</b>'.html_safe, root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Meny</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Section -->
    <ul class="right">
      <li><%= link_to '<b>LOGG UT</b>'.html_safe, logout_path %></li>

    </ul>

    <!-- Left Section -->
    <ul class="left">
    </ul>
  </section>
</nav>