<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">

    <!-- Venstresiden -->
    <ul class="left">
      <li><%= link_to current_user.username, current_user %></li>
      <li><%= link_to 'LOGG UT', logout_path %></li>
    </ul>

    <!-- Høyresiden -->
    <ul class="right">

    </ul>

  </section>
</nav>